# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

the most commonly used data science languages are:
    1. SQL
    2. python
    3. R

Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
2. SciPy
3. Pandas

| Data Science Tools | 
| --- | 
| Apache Spark |
| --- | 
TensorFlow |
| --- | 
|Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**

* popular languages in data science
* libraries in data science 
* git and github

## author
divya